*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#root{
    /* width: 100vw;
    height: 100vh;
    background: linear-gradient(#e66465 50%, #9198e5); */
}


audio{
    background:  black;
    width: 100%;
}